opentelemetry-api==1.44.0
opentelemetry-distro==0.65b0
opentelemetry-exporter-otlp==1.44.0
opentelemetry-exporter-otlp-proto-common==1.44.0
opentelemetry-exporter-otlp-proto-grpc==1.44.0
opentelemetry-exporter-otlp-proto-http==1.44.0
opentelemetry-instrumentation==0.65b0
opentelemetry-proto==1.44.0
opentelemetry-sdk==1.44.0
opentelemetry-semantic-conventions==0.65b0

opentelemetry-instrumentation-asyncio==0.65b0
opentelemetry-instrumentation-dbapi==0.65b0
opentelemetry-instrumentation-exceptions==0.65b0
opentelemetry-instrumentation-logging==0.65b0
opentelemetry-instrumentation-sqlite3==0.65b0
opentelemetry-instrumentation-threading==0.65b0
opentelemetry-instrumentation-urllib==0.65b0
opentelemetry-instrumentation-wsgi==0.65b0
opentelemetry-instrumentation-asgi==0.65b0
opentelemetry-instrumentation-celery==0.65b0
opentelemetry-instrumentation-click==0.65b0
opentelemetry-instrumentation-django==0.65b0
opentelemetry-instrumentation-grpc==0.65b0
opentelemetry-instrumentation-psycopg2==0.65b0
opentelemetry-instrumentation-redis==0.65b0
opentelemetry-instrumentation-requests==0.65b0
opentelemetry-instrumentation-urllib3==0.65b0