daphne==4.2.3
asgiref==3.12.1
Django==6.1
django-cors-headers==4.9.0
djangorestframework==3.18.0
djangorestframework-camel-case==1.4.2
channels==4.3.2
channels_redis==4.3.0
celery==5.6.3
psycopg2-binary==2.9.12
python-dotenv>=1.0.0